.contactForm *{
    margin-top: 10px;
}

.bannerBG .contactCard{
    align-items: left;
    padding: 20px 10px;
    color: white;
}

.bannerBG .contactCard h1{
    text-align: center;
}

.contactCard{
    display:flex; 
    flex-direction:column;
    text-align:left;
}

.contactCard > div{
    display:flex;
    align-items: center;
    margin-top: 15px;
}

.contactCard > div svg{
    margin-right: 10px;
    fill:var(--yellow);
}

.locationLink:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 2px;
}