.footer{
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    padding: 30px;
    justify-content: center;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--titleFont);
}

.footerTitle{
    font-weight: 600;
    color: var(--yellow);
}

.iconButton{
    border-radius: 50%;
    border: 1px solid var(--yellow);
    padding: 15px;
}

.iconButton:hover{
    background-color: var(--yellow);
}

.iconButton:hover svg{
    fill: var(--blue);
}

.footer img{
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
}

.footerLink:hover{ 
    color:var(--yellow)
}

.current{
    color: var(--yellow);
}