@media (max-width:766px){
    .slideLabel {
        font-family: var(--titleFont);
        font-weight: 600;
        font-size: 20px !important;
        color: white;
        text-shadow: 2px 2px 8px #000;
      }
}

.fixButton {
    width:auto;
    display:flex;
    align-items: center;
    
}
.fixLink {
    width:auto;
    display:flex;
    align-items: center;
    color: var(--blue);
    margin-left: 24px;
}
.fixLink:hover {
    color: var(--yellow);
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 4px !important;
    text-decoration-color: var(--yellow) !important;
}

.banner-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .banner-image.visible {
    opacity: 1;
    z-index: 1; /* Bring the visible image to the front */
  }
  
  .banner-image.hidden {
    opacity: 0;
    z-index: 0;
  }
  
  .slideLabel {
    font-family: var(--titleFont);
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 8px #000;
  }